.shippingWrap {
	background-color: #fff;
	padding: 30px;

	.line {
		margin-top: 20px;
		height: 1px;
		background-color: #eaeaea;
	}

	.wrap {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		.error {
			font-weight: 500;
			font-size: 12px;
			color: #ff0000;
		}
		.title {
			font-weight: 500;
			font-size: 12px;
			color: #818181;
		}
	}

	.input {
		border-radius: 5px;
		padding: 10px;
		outline: none;
		border: 0;
		background-color: transparent;
		border: 1px solid #eaeaea;
		width: 95%;
		margin-top: 10px;
		border-radius: 0;
	}

	.buttonUpdate {
		margin-top: 20px;
		width: 100%;
		border: none;
		padding: 10px;
		font-weight: 600;
		cursor: pointer;
		background-color: #e91c23;
		color: #ffffff;
		&:hover {
			background-color: #c01a22;
			transition: 0.2s;
		}
	}

	.button {
		margin-top: 20px;
		width: 100%;
		border: none;
		padding: 10px;
		font-weight: 600;
		background-color: #eaeaea;
		color: #000;
	}
}
