.wrapper {
	position: relative;
	.item {
		font-size: 20px;
		color: #000;
		border: none;
		background-color: transparent;
		text-decoration: none;

		cursor: pointer;
		&:hover {
			color: #33322f49;
			transition: 0.2s;
		}
	}
	.wrap {
		display: flex;
		flex-direction: column;
		align-items: end;
		position: absolute;
		right: -60px;
		padding: 30px 60px 40px 40px;
		gap: 20px;
		width: 100px;
		.item {
			font-size: 19px;
			background-color: transparent;
			color: #000;
			border: none;
			cursor: pointer;
			&:hover {
				color: #33322f49;
				transition: 0.2s;
			}
		}
	}
}
