.wrapper {
	background-color: #fff;
	.container {
		max-width: fit-content;
		margin: 0 auto;
		padding: 50px;
		@media (max-width: 900px) {
			padding: 20px 0;
			width: 100%;
		}
		.wrap {
			display: flex;
			justify-content: center;
			gap: 30px;
			@media (max-width: 900px) {
				flex-direction: column;
				align-items: center;
			}
			.box {
				display: flex;
				flex-direction: column;
				gap: 20px;
				@media (max-width: 900px) {
					width: 100%;
				}
				.img {
					width: 100%;
					height: 400px;
					cursor: pointer;
					@media (max-width: 1600px) {
						width: 535px;
					}
					@media (max-width: 1300px) {
						width: 465px;
						height: 300px;
					}
					@media (max-width: 1100px) {
						width: 390px;
						height: 200px;
					}
					@media (max-width: 900px) {
						width: 100%;
						height: 100%;
					}
				}
				.flex {
					display: flex;
					flex-direction: column;
					height: 100%;
					justify-content: space-between;
					gap: 10px;
					@media (max-width: 900px) {
						padding: 0 20px;
					}
					.title {
						font-size: 20px;
						color: #000000e0;
					}
					.text {
						font-family: sans-serif;
						width: 625px;
						color: #000000a6;
						letter-spacing: 0.5px;
						font-size: 15px;
						@media (max-width: 1600px) {
							width: 535px;
						}
						@media (max-width: 1300px) {
							width: 465px;
							font-size: 13px;
						}
						@media (max-width: 1100px) {
							width: 390px;
						}
						@media (max-width: 900px) {
							width: 100%;
						}
						.linkBrand {
							font-size: 15px;
							color: #000000a6;
							cursor: pointer;
							&:hover {
								color: #000000;
							}
						}
					}
					.link {
						display: inline-block;
						color: #000;
						&:hover {
							color: #33322f49;
						}
					}
				}
			}
		}
	}
}
