.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        font-size: 20px;
    }

    .icon {
        color: #818181;
        margin-bottom: 5px;
    }
}
