.wrapper {
    .container {
        width: 1300px;
        margin: 0 auto;

        .title {
            text-align: center;
            margin: 100px 30px 100px 0;
            font-size: 40px;
        }

        .wrap {
            display: flex;
            gap: 30px;
            justify-content: space-between;
        }
    }
}
