.wrapper {
	background-color: #fff;
	.container {
		max-width: 2000px;
		margin: 0 auto;
		padding: 100px 50px;
		@media (max-width: 900px) {
			padding: 20px;
		}
		.title {
			font-size: 30px;
			margin-bottom: 30px;
		}
		.storeWrapper {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 1fr;
			gap: 50px;
			@media (max-width: 1100px) {
				grid-template-columns: 1fr;
				grid-template-rows: repeat(3, 1fr);
			}
			@media (max-width: 900px) {
				gap: 20px;
			}
			.store {
				display: flex;
				gap: 30px;
				border: 1px solid #0000003f;
				padding: 20px;
				max-width: 100%;
				height: fit-content;
				.storeTitle {
					font-weight: bold;
					margin-bottom: 5px;
					@media (max-width: 500px) {
						font-size: 14px;
					}
				}
				.storeAddress {
					color: #818181;
					text-decoration: none;
					@media (max-width: 500px) {
						font-size: 14px;
					}
					&:hover {
						color: #818181;
						text-decoration: underline;
					}
				}
				.storeSubTitle {
					margin-top: 15px;
					color: #818181;
					margin-bottom: 5px;
					@media (max-width: 500px) {
						font-size: 14px;
					}
				}
				.storeHours {
					color: #818181;
					margin-bottom: 15px;
					@media (max-width: 500px) {
						font-size: 14px;
					}
				}
				.consignment {
					color: #818181;
					@media (max-width: 500px) {
						font-size: 14px;
					}
				}
			}
		}
	}
}
