.wrapper {
    .container {
        display: flex;
        gap: 100px;
        align-items: center;
        max-width: 2000px;
        margin: 0 auto;
        padding: 126px 0;

        .title {
            font-size: 30px;
            margin-bottom: 30px;
        }
        .text {
            opacity: 0.4;
            letter-spacing: -0.1px;
        }
        .image {
            width: 400px;
            height: 300px;
        }
    }
}
