.wrapper {
	background-color: #fff;
	padding-bottom: 50px;
	.container {
		width: 1200px;
		margin: 0 auto;
		padding-top: 50px;
		padding-bottom: 50px;
		.title {
			font-size: 30px;
			margin-bottom: 40px;
		}
		.infoWrap {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			.accountWrap {
				width: 43%;
				height: 170px;
				border: 1px solid #eaeaea;
				padding: 30px;
				.accountTop {
					border-bottom: 1px solid #eaeaea;
					padding-bottom: 20px;
				}
				.accountBottom {
					margin-top: 20px;
					color: #818181;
				}
			}
			.shippingWrap {
				width: 43%;
				height: 170px;
				border: 1px solid #eaeaea;
				padding: 30px;
				.shippingTop {
					border-bottom: 1px solid #eaeaea;
					padding-bottom: 20px;
				}
				.shippingBottom {
					margin-top: 20px;
					color: #818181;
					.flex {
						display: flex;
						flex-direction: column;
						gap: 7px;
						.box {
							display: flex;
							align-items: center;
							gap: 10px;
						}
					}
				}
			}
		}
	}
}
