.wrapper {
	padding: 50px 0 200px 0;
	display: flex;
	width: 1000px;
	margin: 0 auto;
	@media (max-width: 1300px) {
		width: 900px;
	}
	@media (max-width: 1100px) {
		width: 800px;
	}
	@media (max-width: 900px) {
		flex-direction: column;
		width: 100%;
		padding: 20px 0;
	}
	.containerLeft {
		width: 500px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		@media (max-width: 1300px) {
			width: 450px;
		}
		@media (max-width: 1100px) {
			width: 400px;
		}
		@media (max-width: 900px) {
			width: 100%;
		}
		.accountWrap {
			background-color: #fff;
			padding: 30px;
			@media (max-width: 900px) {
				padding: 20px;
			}
			.flex {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.icon {
					color: #22b82252;
				}
			}
			.line {
				margin-top: 20px;
				height: 1px;
				background-color: #eaeaea;
			}
			.name {
				margin-top: 20px;
			}
			.email {
				margin-top: 10px;
				color: #818181;
			}
		}
		.paymentWrap {
			background-color: #fff;
			padding: 30px;
			@media (max-width: 900px) {
				padding: 20px;
			}
			.flex {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.icon {
					color: #22b82252;
				}
			}
			.line {
				margin-top: 20px;
				height: 1px;
				background-color: #eaeaea;
			}
			.text {
				margin-top: 30px;
				font-size: 12px;
				color: #818181;
			}
		}
	}
	.containerRight {
		width: 500px;
		position: fixed;
		margin-left: 520px;
		@media (max-width: 1300px) {
			width: 450px;
			margin-left: 470px;
		}
		@media (max-width: 1100px) {
			width: 400px;
			margin-left: 420px;
		}
		@media (max-width: 900px) {
			position: static;
			width: 100%;
			margin: 0;
			margin-top: 20px;
		}
		.orderWrap {
			background-color: #fff;
			padding: 30px;
			@media (max-width: 900px) {
				padding: 20px;
			}
			.line {
				margin-top: 20px;
				height: 1px;
				background-color: #eaeaea;
			}
			.sneakerWrap {
				display: flex;
				flex-direction: column;
				.sneaker {
					border-bottom: 1px solid #eaeaea;
					.flexBox {
						display: flex;
						justify-content: space-between;
						align-items: center;
						gap: 10px;
						.img {
							object-fit: contain;
							width: 120px;
							margin-bottom: 35px;
						}
						.flexInfo {
							display: flex;
							flex-direction: column;
							gap: 10px;
							.name {
								font-weight: 800;
							}
							.size {
								color: #818181;
							}
						}
						.price {
							margin-top: 65px;
						}
					}
				}
			}
		}
		.totalInfoWrap {
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid #eaeaea;
			padding: 27px 0;
			.flexText {
				display: flex;
				flex-direction: column;
				gap: 10px;
				color: #818181;
			}
			.flexPrice {
				display: flex;
				flex-direction: column;
				align-items: end;
				gap: 10px;
			}
		}
		.totalWrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 30px 0;
			.price {
				font-size: 25px;
				font-weight: 900;
			}
		}
		.text {
			color: #818181;
			font-size: 15px;
		}
		.buttonUpdate {
			margin-top: 20px;
			width: 100%;
			border: none;
			padding: 10px;
			font-weight: 600;
			cursor: pointer;
			background-color: #e91c23;
			color: #ffffff;
			&:hover {
				background-color: #c01a22;
				transition: 0.2s;
			}
		}
		.button {
			margin-top: 20px;
			width: 100%;
			border: none;
			padding: 10px;
			font-weight: 600;
			background-color: #eaeaea;
			color: #000;
		}
	}
}
