.headerTop {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 100%;
	position: fixed;
	z-index: 999;
	transition: 0.7s;
	.logo {
		font-family: 'Oswald', sans-serif;
		font-size: 40px;
		color: #e91c23;
		cursor: pointer;
		text-decoration: none;
		margin-left: 50px;
	}
	.listing {
		display: flex;
		gap: 50px;
		margin-right: 60px;
		.item {
			text-decoration: none;
			font-size: 20px;
			color: #000;
			&:hover {
				color: #33322f49 !important;
				transition: 0.2s;
			}
		}
		.accountWrap {
			position: relative;
			.item {
				font-size: 20px;
				color: #000;
				border: none;
				background-color: transparent;
				cursor: pointer;
				&:hover {
					color: #33322f49;
					transition: 0.2s;
				}
			}
			.wrap {
				display: flex;
				flex-direction: column;
				align-items: end;
				position: absolute;
				right: -60px;
				padding: 30px 60px 40px 40px;
				gap: 20px;
				width: 100px;
				.item {
					font-size: 19px;
					background-color: transparent;
					color: #000;
					border: none;
					cursor: pointer;
					&:hover {
						color: #33322f49;
						transition: 0.2s;
					}
				}
			}
		}
	}
}
.previewWrapper {
	position: absolute;
	top: 35%;
	left: 20%;
	width: 400px;
	.previewName {
		color: #fff;
		font-size: 40px;
	}
	.previewShow {
		font-size: 20px;
		color: #fff;
		margin-top: 30px;
		text-decoration: underline;
		cursor: pointer;
		&:hover {
			color: #33322f49;
		}
	}
}
