.header {
    height: 100vh;
    position: relative;

    .headerTop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 100%;
        position: fixed;

        .searchWrapper {
            position: relative;
            margin-left: 50px;
            .search {
                border-radius: 5px;
                padding: 10px 35px;
                outline: none;
                border: 0;
                background-color: transparent;
                border: 1px solid #000;
                &::placeholder {
                    color: #000;
                    opacity: 0.7;
                    font-size: 16px;
                }
            }
            .icon {
                position: absolute;
                top: 7px;
                left: 7px;
                color: #000;
            }
        }

        .logo {
            font-family: 'Oswald', sans-serif;
            font-size: 40px;
            color: #e91c23;
            cursor: pointer;
        }

        .listWrapper {
            display: flex;
            gap: 40px;
            margin-right: 50px;
            .list {
                font-size: 20px;
                cursor: pointer;
            }
        }
    }

    .previewWrapper {
        position: absolute;
        top: 35%;
        left: 20%;
        width: 400px;
        .previewName {
            color: #fff;
            font-size: 40px;
        }
        .previewShow {
            font-size: 20px;
            color: #fff;
            margin-top: 30px;
            text-decoration: underline;
            cursor: pointer;
            &:hover {
                color: #33322f49;
            }
        }
    }
}
