.wrapper {
	background-color: #fff;
	padding: 30px;

	.flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.icon {
			color: #22b82252;
		}
	}

	.line {
		margin: 20px 0;
		height: 1px;
		background-color: #eaeaea;
	}

	.ship {
		font-size: 15px;
		margin-bottom: 20px;
	}

	.text {
		font-size: 12px;
		color: #818181;
	}
}
