.wrapper {
	width: 800px;
	.carousel {
		margin-top: 30px;
		display: flex;
		align-items: center;
		.image {
			width: 600px;
			height: 400px;
		}
		.arrow {
			font-size: 100px;
			cursor: pointer;
		}
		.opacity {
			color: #818181;
		}
	}
}
