.wrapper {
    .carousel {
        margin-top: 30px;
        .image {
            width: 600px;
            height: 400px;
        }

        .arrow {
            font-size: 70px;
            cursor: pointer;
            margin-bottom: 150px;
            font-size: 70px;
        }
    }
}
