.footer {
	background-color: #000;
	padding: 50px 50px 100px 50px;
	@media (max-width: 900px) {
		padding: 20px;
	}
	.logo {
		display: inline-block;
		font-family: 'Oswald', sans-serif;
		font-size: 40px;
		color: #e91c23;
		margin-bottom: 50px;
		text-decoration: none;
		z-index: 1;
		@media (max-width: 1100px) {
			font-size: 30px;
		}
		@media (max-width: 520px) {
			font-size: 20px;
		}
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
		@media (max-width: 900px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			gap: 60px;
		}
		.wrap {
			display: flex;
			flex-direction: column;
			gap: 27px;
			@media (max-width: 720px) {
				width: 100%;
			}
			.title {
				color: #ffffffd5;
			}
			.subTitle {
				color: #ffffff5b;
				cursor: pointer;
				text-decoration: none;
				@media (max-width: 720px) {
					font-size: 13px;
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
.text {
	border-top: 1px solid #ffffff5b;
	background-color: #000;
	text-align: center;
	color: #ffffff5b;
	padding: 10px 50px;
	@media (max-width: 520px) {
		font-size: 15px;
	}
}
