.wrapper {
	background-color: #fff;

	.container {
		width: 1000px;
		margin: 0 auto;
		padding-top: 50px;
		padding-bottom: 50px;

		.title {
			font-size: 30px;
			margin-bottom: 100px;
		}

		.sneakerWrap {
			display: flex;
			flex-direction: column;
			gap: 20px;
			padding-right: 50px;

			.sneaker {
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-bottom: 1px solid #eaeaea;
				padding: 0 50px;
				.flexBox {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 50px;
					.img {
						object-fit: contain;
						width: 140px;
						margin-bottom: 35px;
					}
					.flexInfo {
						display: flex;
						flex-direction: column;
						gap: 10px;
						.name {
							font-weight: 800;
						}
						.size {
							color: #818181;
						}
						.brand {
							color: #818181;
						}
					}
				}
			}

			.flex {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 150px;
				.price {
					font-weight: 600;
					font-size: 25px;
				}
				.clear {
					cursor: pointer;
					font-size: 30px;
					&:hover {
						color: #818181;
					}
				}
			}
		}

		.priceWrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 10px;
			padding-right: 50px;

			.priceText {
				font-size: 20px;
				margin-left: 240px;
			}
			.price {
				margin-top: 7px;
				font-weight: 600;
				font-size: 25px;
				padding-left: 185px;
			}
			.clear {
				margin-right: 20px;
				background-color: transparent;
				border: none;
				cursor: pointer;
				font-size: 15px;
				font-weight: 800;
				&:hover {
					color: #818181;
				}
			}
		}

		.buttonWrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 50px;

			.link {
				text-decoration: none;
				&:first-child {
					opacity: 0.5;
				}
				.btn {
					margin: 0 auto;
					background-color: #000;
					color: #fff;
					padding: 15px 20px;
					border: 0;
					cursor: pointer;
					margin-top: 30px;
					&:hover {
						background-color: #000000e0;
					}
				}
			}

			.check {
				margin: 0 auto;
				background-color: #000;
				color: #fff;
				padding: 15px 20px;
				border: 0;
				cursor: pointer;
				margin-top: 30px;
				&:hover {
					background-color: #000000e0;
				}
			}
		}
	}
}
