.wrapper {
	background-color: #fff;
	.container {
		max-width: 1000px;
		margin: 0 auto;
		padding: 50px 0;
		@media (max-width: 1100px) {
			padding: 50px;
		}
		@media (max-width: 900px) {
			padding: 20px;
		}
		.title {
			font-size: 30px;
			margin-bottom: 100px;
			@media (max-width: 900px) {
				margin-bottom: 50px;
			}
		}
		.sneakerWrap {
			display: flex;
			flex-direction: column;
			gap: 20px;
			.sneaker {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 30px;
				border-bottom: 1px solid #eaeaea;
				.flexBox {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 50px;
					@media (max-width: 700px) {
						gap: 20px;
					}
					.img {
						object-fit: contain;
						width: 140px;
						margin-bottom: 35px;
						@media (max-width: 700px) {
							width: 100px;
						}
					}
					.flexInfo {
						display: flex;
						flex-direction: column;
						gap: 10px;
						@media (max-width: 700px) {
							font-size: 13px;
						}
						.name {
							font-weight: 800;
						}
						.size {
							color: #818181;
						}
						.brand {
							color: #818181;
						}
					}
				}
			}
			.flex {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 150px;
				@media (max-width: 1100px) {
					gap: 100px;
				}
				@media (max-width: 900px) {
					flex-direction: column-reverse;
					gap: 25px;
				}
				@media (max-width: 700px) {
					flex-direction: column-reverse;
					gap: 30px;
				}
				.price {
					font-weight: 600;
					font-size: 25px;
					@media (max-width: 700px) {
						font-size: 20px;
					}
				}
				.clear {
					cursor: pointer;
					font-size: 30px;
					@media (max-width: 700px) {
						font-size: 20px;
					}
					&:hover {
						color: #818181;
					}
				}
			}
		}
		.priceWrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 10px;
			.priceText {
				font-size: 20px;
				@media (max-width: 700px) {
					font-size: 15px;
				}
			}
			.priceBox {
				display: flex;
				align-items: center;
				gap: 95px;
				@media (max-width: 1100px) {
					gap: 45px;
				}
				.price {
					margin-top: 7px;
					font-weight: 600;
					font-size: 25px;
					@media (max-width: 700px) {
						font-size: 15px;
					}
				}
				.clear {
					color: #000;
					background-color: transparent;
					border: none;
					cursor: pointer;
					font-size: 15px;
					font-weight: 800;
					@media (max-width: 700px) {
						font-size: 12px;
					}
					&:hover {
						color: #818181;
					}
				}
			}
		}
		.buttonWrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 50px;
			@media (max-width: 700px) {
				gap: 100px;
			}
			@media (max-width: 450px) {
				gap: 50px;
			}
			.link {
				text-decoration: none;
				background-color: #000;
				color: #fff;
				padding: 15px 20px;
				border: 0;
				cursor: pointer;
				text-align: center;
				@media (max-width: 700px) {
					padding: 10px;
					width: 100%;
				}
				&:hover {
					background-color: #000000e0;
				}
				&:first-child {
					opacity: 0.5;
				}
			}
		}
	}
}
