.wrapper {
	.container {
		width: 1300px;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 50px;

		.wrap {
			display: flex;
			justify-content: space-between;

			.filter {
				width: 300px;
				.filterWrap {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 37px;
					.title {
						font-size: 20px;
						margin-top: 8px;
					}
					.clear {
						font-size: 20px;
						margin-top: 8px;
						font-weight: 800;
						cursor: pointer;
						&:hover {
							color: #818181;
						}
					}
				}
			}

			.sneakers {
				width: 960px;

				.titleWrap {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-bottom: 20px;
					.title {
						font-size: 20px;
						.quantity {
							display: inline-block;
							font-size: 20px;
							color: #818181;
						}
					}
				}

				.previewGroupe {
					display: flex;
					flex-wrap: wrap;
					gap: 30px;
					cursor: pointer;

					.previewProduct {
						display: flex;
						flex-direction: column;
						width: 300px;
						background-color: #fff;
						text-decoration: none;

						.img {
							margin: 0 auto;
							width: 270px;
							height: 270px;
							object-fit: contain;
						}

						.info {
							padding: 0 20px 20px 20px;
							.subTitle {
								color: #818181;
							}
							.text {
								margin-top: 10px;
								color: #000;
							}
							.price {
								margin-top: 10px;
								color: #000;
								font-weight: 900;
							}
						}

						&:hover img {
							scale: 105%;
							transition: 0.2s;
						}
					}
				}

				.button {
					margin: 0 auto;
					display: block;
					background-color: #000;
					color: #fff;
					padding: 15px 20px;
					border: 0;
					cursor: pointer;
					margin-top: 30px;
					&:hover {
						background-color: #000000e0;
					}
				}
			}
		}
	}
}
