.wrapper {
    background-color: #000;
    border-top: 1px solid #ffffff5b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    .container {
        display: flex;
        gap: 20px;
        .list {
            color: #ffffff5b;
            cursor: pointer;
        }
    }
    .text {
        color: #ffffff5b;
    }
    .currency {
        box-sizing: border-box;
        color: #ffffff5b;
        border: 1px solid #ffffff5b;
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
    }
}
