.forgotError {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 10px;
	color: #ff0000;
	border: 1px solid #ff0000;
	background-color: #fff;
	padding: 20px 30px;
	width: 500px;
	margin: 0 auto;
	margin-top: 50px;
}
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
	padding-bottom: 210px;
	.container {
		width: 500px;
		background-color: #fff;
		padding: 30px;
		.text {
			margin-top: 10px;
			font-size: 11px;
			color: #818181;
			letter-spacing: 0.3px;
		}
		.line {
			margin-top: 20px;
			height: 1px;
			background-color: #eaeaea;
		}
		.wrap {
			display: flex;
			justify-content: space-between;
			margin-top: 20px;
			.error {
				font-weight: 500;
				font-size: 12px;
				color: #ff0000;
			}
			.title {
				font-weight: 500;
				font-size: 12px;
				color: #818181;
			}
		}
		.input {
			border-radius: 5px;
			padding: 10px;
			outline: none;
			border: 0;
			background-color: transparent;
			border: 1px solid #eaeaea;
			width: 95%;
			margin-top: 10px;
			border-radius: 0;
		}
		.inputWrap {
			position: relative;
			margin-bottom: 20px;
			.input {
				border-radius: 5px;
				padding: 10px;
				outline: none;
				border: 0;
				background-color: transparent;
				border: 1px solid #eaeaea;
				width: 95%;
				margin-top: 10px;
				border-radius: 0;
			}
			.icon {
				position: absolute;
				top: 36%;
				right: 5%;
				color: #818181;
				cursor: pointer;
				&:hover {
					color: #000;
					transition: 0.2s;
				}
			}
		}
		.submit {
			margin-top: 20px;
			width: 100%;
			border: none;
			padding: 10px;
			font-weight: 600;
			background-color: #eaeaea;
			color: #000;
		}
		.submitUpdate {
			margin-top: 20px;
			width: 100%;
			border: none;
			padding: 10px;
			font-weight: 600;
			cursor: pointer;
			background-color: #e91c23;
			color: #ffffff;
			&:hover {
				background-color: #c01a22;
				transition: 0.2s;
			}
		}
		.link {
			text-decoration: none;
			.back {
				margin-top: 20px;
				width: 100%;
				border: 1px solid #000;
				background-color: #fff;
				padding: 10px;
				font-weight: 600;
				cursor: pointer;
				&:hover {
					background-color: #eaeaea;
				}
			}
		}
	}
}
