.wrapper {
	background-color: #fff;
	display: flex;
	gap: 100px;
	align-items: center;
	margin: 0 auto;
	padding: 126px 70px;
	.title {
		font-size: 30px;
		margin-bottom: 30px;
	}
	.text {
		color: #818181;
		line-height: 15px;
		margin-bottom: 20px;
	}
	.subText {
		margin-left: 30px;
		margin-bottom: 10px;
		color: #818181;
	}
	.image {
		width: 400px;
		height: 300px;
	}
}
