.wrapper {
	background-color: #fff;
	border-bottom: 1px solid #e7e7e7;
	height: 60px;
	width: 100%;
	padding-top: 5px;
	z-index: 1000;
	.container {
		max-width: 1500px;
		margin: 0 auto;
		padding: 0 50px;
		@media (max-width: 900px) {
			padding: 0 20px;
		}
		.wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.logo {
				font-family: 'Oswald', sans-serif;
				font-size: 30px;
				color: #e91c23;
				cursor: pointer;
				text-decoration: none;
			}
			.link {
				text-decoration: none;
				font-weight: 500;
				font-size: 15px;
				color: #818181;
				text-decoration: underline;
				&:hover {
					color: #000;
				}
			}
		}
	}
}
