.wrapper {
	background-color: #fff;
	width: 500px;
	height: 100vh;
	z-index: 999;
	position: absolute;
	top: 0;
	right: 0;
	margin-bottom: 20px;
	.titleWrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
		border-bottom: 1px solid #eaeaea;
		.icon {
			color: #818181;
			cursor: pointer;
		}
	}

	.bodyWrap {
		padding: 20px 20px 40px 20px;
		border-bottom: 1px solid #eaeaea;
		.subTitle {
			margin-top: 20px;
			margin-bottom: 5px;
			font-size: 15px;
			color: #818181;
		}
		.input {
			outline: none;
			width: 95%;
			border: 1px solid #eaeaea;
			padding: 10px;
		}

		.inputWrap {
			display: flex;
			border: 1px solid #eaeaea;
			width: 100%;
			.cardNumber {
				outline: none;
				width: 70%;
				padding: 10px;
				border: none;
			}
			.mm_yy {
				outline: none;
				width: 10%;
				padding: 10px;
				border: none;
			}
			.cvc {
				outline: none;
				width: 10%;
				padding: 10px;
				border: none;
			}
		}
	}

	.buttonWrap {
		.button {
			margin: 20px;
			position: absolute;
			bottom: 0;
			width: 92%;
			background-color: #e91c23;
			border: 1px solid #e91c23;
			color: #fff;
			padding: 10px;
			cursor: pointer;
			&:hover {
				background-color: #c01a22;
				transition: 0.2s;
			}
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	right: 500px;
	width: 100%;
	height: 100%;
	background-color: #00000080;
	opacity: 1;
	transition: opacity 250ms ease-in-out 175ms;
	z-index: 1000;
}
